.user-container{
  width: 90vw;
  margin: 2em auto;
}

.left-side{
  float: left;
  width: 25%;
}

.right-side{
  float: right;
  width: 75%;
}

.username{
  width: 100%;
  text-align: left;
  margin: 3em 0;
}

.username h3{
  text-align: left;
  padding-left: .5em;
}

.username h4{
  text-align: left;
  padding-left: .5em;
}

.name{
  font-size: 1em;
  padding-left: 1.5em;
}

.roles{
  list-style: none;
  padding: 0;
}

.roles-header{
  border: 1px solid black;
  border-radius: .5em;
  width: 50%;
  padding-left: 1em;
}

.role{
  text-indent: .5em;
  margin: .75em 0;
}

.posts{
  display: block;
  list-style: none;
}

.posts-header{
  text-align: center;
  width: 96%;
  text-decoration: underline;
}

.post{
  display: inline-block;
  margin: 1em 3%;
}
