body{
  background: blue;
}

.header{
  color: black;
  /*background: #FCDC3B;*/
  width: 60vw;
  height: 60px;
  margin: 0 auto;
  opacity: 0.8;
}

.header_h1{
  line-height: 60px;
  width: 30%;
  margin: 0;
  font-size: 1.33em;
}

.hl{
  float: left;
  padding-left: 30px;
  cursor: pointer;
  font-size: 32px;
  font-family: 'Cinzel', serif;
}

.hr{
  float: right;
  padding-right: 30px;
  text-align: right
}

.body{
  padding: 80px 0;
  height: 20em;
  width: 100vw;
  margin: 1.5em auto 0;
  opacity: 1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.accountPrompt{
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background: none;
  opacity: 0.7;
  border-radius: 1rem;
  text-align: center
}

.headline{
  font-size: 32px;
  margin: 0;
  padding-top: 5%
}

.button{
  font-size: 22px;
  background: black;
  width: 7.5em;
  margin: 50px auto;
  color: white;
  line-height: 70px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  user-select: none
}

.allPosts{
  width: 100vw;
  margin: 0 auto;
  display: inline-block;
  text-align: center
}

.postContainerLg{
  height: 450px;
  width: 325px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  border-radius: 5px
}

.postHead{
  margin: 0;
  margin-top: 12px;
  opacity: 0.3;
  cursor: pointer;
  font-size: 1.1em;
}

.postImage{
  height: 40%;
  width: auto;
  margin: 2% auto 0;
  border-radius: 5px
}

.postDate{
  width: 60%;
  background: white;
  padding: 0 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: .8em;
  font-family: 'Exo 2', cursive;
}

.postContainerLg p {
  width: 90%;
}

.image-description{
  text-align: center;
}

.accountInput{
  display: inline;
  width: 10em;
  height: 2em;
  border-radius: .25em;
  border: 1px solid black;
  margin: 0 1em;
  text-align: center;
}

.accountButton{
  display: inline-block;
  width: 10em;
  height: 2.5em;
  border-top-right-radius: .5em;
  border-bottom-left-radius: .5em;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid cornflowerblue;
  border-bottom: 1px solid cornflowerblue;
  background: black;
  color: white;
  margin: 8em 5em;
  opacity: .6;
  font-size: .85em;
  cursor: pointer;
}

.accountButton:hover{
  color: blue;
}

.accountButton:active{
  background: white;
  color: black;
}

.accountButton:enabled{
  outline: 0;
}

.doublePostBox{
  height: 450px;
  width: 325px;
  list-style: none;
  padding: 0;
  margin: 0 5px;
  display: block;
  margin-top: 15px
}

.doubleBoxItem{
  height: 49%;
  width: 98%;
  margin: 0 auto 2%;
  border: 1px solid black;
  border-radius: 5px
}

.newPost{
  background: cornflowerblue;
  color: white;
  font-size: 18px;
  padding: 1em;
  border-radius: .25em;
  border: 1px solid black;
  cursor: pointer;
  text-decoration: none;
}

.post-section{
  display: block;
  text-align: center;
  list-style: none;
  width: 80vw;
  margin: 2em auto 0;
}

.section-post{
  display: inline-block;
  width: 30%;
  height: 20em;
  margin: .5em 1em;
}

.post-header{
  margin: 0;
  border: 1px solid black;
  border-top-right-radius: .5em;
  border-top-left-radius: .5em;
  height: 2em;
  overflow: scroll;
  line-height: 2em;
}

.post-body{
  position: relative;
  border: 1px solid black;
  height: 14em;
}

.post-category{
  position: absolute;
  bottom: -1.9em;
  width: 100%;
  margin: 0;
  border: 1px solid black;
}

.post-likes{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-left: .2em;
  font-size: 1.33em;
}

.post-date{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: .2em;
}

.post-text{
  position: absolute;
  top: 0;
  left: 5%;
  height: 12em;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid black;
  text-align: left;
  overflow: scroll;
}

.upvote{
  cursor: pointer;
}

.options{
  cursor: pointer;
  position: relative;
  margin-left: 1em;
}

.dropdown{
  position: absolute;
  top: 1.5em;
  right: 0;
  width: 5em;
  background: black;
  color: white;
  height: 2em;
  line-height: 2em;
  padding: 0 .5em;
  border-radius: .5em;
  border-top-right-radius: 0;
}

.new-post{
  border-radius: .2em;
  border: 1px solid black;
  background: #ffc;
  margin: 1em 0;
  cursor: pointer;
  padding: .2em .4em;
  font-family: 'Philosopher', sans-serif;
  font-size: 2em;
}

.new-post:focus{
  outline: 0;
}
