body{
  background: blue;
}

.header{
  color: black;
  /*background: #FCDC3B;*/
  width: 60vw;
  height: 60px;
  margin: 0 auto;
  opacity: 0.8;
}

.header_h1{
  line-height: 60px;
  width: 30%;
  margin: 0;
  font-size: 1.33em;
}

.hl{
  float: left;
  padding-left: 30px;
  cursor: pointer;
  font-size: 32px;
  font-family: 'Cinzel', serif;
}

.hr{
  float: right;
  padding-right: 30px;
  text-align: right
}

.body{
  padding: 80px 0;
  height: 20em;
  width: 70vw;
  margin: 2.5em auto 0;
  opacity: 1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  border-radius: .5em;
}

.accountPrompt{
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background: none;
  opacity: 0.7;
  border-radius: 1rem;
  text-align: center
}

.headline{
  font-size: 32px;
  margin: 0;
  padding-top: 5%
}

.button{
  font-size: 22px;
  background: black;
  width: 7.5em;
  margin: 50px auto;
  color: white;
  line-height: 70px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  user-select: none
}

.allPosts{
  width: 100vw;
  margin: 0 auto;
  display: inline-block;
  text-align: center
}

.postContainerLg{
  height: 450px;
  width: 325px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  border-radius: 5px
}

.postHead{
  margin: 0;
  margin-top: 12px;
  opacity: 0.3;
  cursor: pointer
}

.postImage{
  height: 40%;
  width: auto;
  margin: 2% auto 0;
  border-radius: 5px
}

.postDate{
  width: 60%;
  background: white;
  padding: 0 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px
}

.doublePostBox{
  height: 450px;
  width: 325px;
  list-style: none;
  padding: 0;
  margin: 0 5px;
  display: block;
  margin-top: 15px
}

.doubleBoxItem{
  height: 49%;
  width: 98%;
  margin: 0 auto 2%;
  border: 1px solid black;
  border-radius: 5px
}

.newPost{
  background: cornflowerblue;
  color: white;
  font-size: 18px;
  padding: 1em;
  border-radius: .25em;
  border: 1px solid black;
  cursor: pointer;
  text-decoration: none;
}
